
body {
  margin: 0;
  font-family: Roboto;
}

.page {
  display: flex;
  justify-content: stretch;
  height: 100vh;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #232325;
  overflow-y: auto;
}
.sidebar-title {
  color: #cbcbcb;
  font-size: 14px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.row {
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.row:hover {
  background-color: #43585b;
}
.page-during-drag .row:hover {
  background-color: transparent;
}

.circle {
  margin-left: 5px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: white;
}

.chevron {
  opacity: 0;
  transition: all 200ms;
  cursor: pointer;
  border-radius: 10px;
  width: var(--chevron-width);
  height: var(--chevron-width);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateZ(-90deg);
}
.chevron.open {
  transform: rotateZ(0);
}
.chevron svg {
  fill: #cbcbcb;
}
.chevron.open svg {
  fill: white;
}
.sidebar:hover .chevron {
  opacity: 1;
}

.chevron:hover {
  background-color: #696969;
}
.create-new-playlist {
  margin-left: 31px;
  color: white;
  cursor: pointer;
}

.gallery {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #e9e9e9;
}

.card-wrapper {
  margin-left: 15px;
  margin-top: 15px;
}

.card {
  border-radius: 6px;
  background-color: #232325;
  color: white;
  font-size: 14px;
  width: 170px;

  overflow: hidden;
  box-shadow: 2px 2px 4px black;
  transition: box-shadow 200ms;
}
.mini-card {
  width: 36px;
  height: 36px;
}
.mini-card img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.mini-card .card-text {
  display: none;
}
.card-being-dragged {
  opacity: 0.3;
}
.card:hover {
  box-shadow: 2px 2px 8px black;
}
/*ignore shadow effects during drag*/
.page-during-drag .card:hover {
  box-shadow: 2px 2px 4px black;
}
.card-text {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.playlist-image {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
}
