.page-during-drag {
  user-select: none;
  cursor: grabbing;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.page {
  display: flex;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #232325;
  overflow-y: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  color: white;
  overflow: hidden;
}
.gallery {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  background-color: #e9e9e9;
}

.column {
  flex: 1;
}

.gallery {
  /*noinspection CssInvalidPropertyValue*/
  overflow-y: overlay;
}

.gallery::-webkit-scrollbar {
  width: 8px;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

/*utility classes*/
.white-svg {
  /*filter for white*/
  filter: invert(97%) sepia(4%) saturate(469%) hue-rotate(103deg)
    brightness(119%) contrast(100%);
}

.play-svg {
  /*filter for #45D3B9*/
  filter: invert(66%) sepia(57%) saturate(438%) hue-rotate(119deg)
    brightness(100%) contrast(85%);
}

.play-background {
  background-color: #45d3b9;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
