.page-during-drag {
  user-select: none;
  cursor: grabbing;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.page {
  display: flex;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #232325;
  overflow-y: auto;
}

.gallery {
  margin-top: var(--menu-height);
  width: calc(100vw - var(--sidebar-menu-width));
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background-color: #e9e9e9;
}
