.card {
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #232325;
  color: white;
  font-size: 14px;
  width: 170px;
  position: relative;
  overflow: hidden;
  /*box-shadow: 2px 2px 4px black;*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms;
  cursor: grab;
}
.mini-card {
  width: 36px;
  height: 36px;
}
.mini-card img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.mini-card .card-text {
  display: none;
}
.card-being-dragged {
  opacity: 0.3;
}
.card:hover {
  box-shadow: 2px 2px 8px black;
}

/*ignore shadow effects during drag*/
.page-during-drag .card:hover {
  box-shadow: 2px 2px 4px black;
}
.card-text {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.playlist-image {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
}

.select-button {
  opacity: 0;
  transition: opacity 300ms;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg)
    brightness(105%) contrast(105%);
}
.select-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.card:hover .select-button {
  opacity: 1;
}

.play-button {
  opacity: 0;
  transition: opacity 300ms;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg)
    brightness(105%) contrast(105%);
  position: absolute;
  top: 23px;
  left: 55px;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

.image-button {
  opacity: 0;
  transition: opacity 300ms;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg)
    brightness(105%) contrast(105%);
}

.play-button:hover {
  filter: invert(90%) sepia(0%) saturate(1%) hue-rotate(217deg) brightness(97%)
    contrast(96%);
}

.play-button:active {
  filter: invert(93%) sepia(0%) saturate(57%) hue-rotate(251deg) brightness(90%)
    contrast(78%);
}
.card:hover .play-button {
  opacity: 1;
}

.expand-button svg {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg)
    brightness(105%) contrast(105%);
}

.expand-button {
  opacity: 0;
  transition: opacity 300ms;
  position: absolute;
  right: 10px;
  top: 80px;
  padding: 5px;
  cursor: pointer;
}
.rotated {
  transform: rotateZ(180deg);
}
/*ugly, rework this class*/
.up {
  top: 0px;
}
.card:hover .expand-button {
  opacity: 1;
}
.expand-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.card-open {
  height: 289px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.preview-items {
}

.open-card-video-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  object-fit: cover;
}

.open-card-row:first-of-type {
  margin-top: 0;
}

.open-card-row {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}
.open-card-row::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 36px;
  right: 0;
  border-bottom: 1px solid #615b67;
}
.open-card-row:last-of-type::before {
  display: none;
}

.open-card-text {
  color: white;
  font-size: 12px;
  margin-left: 6px;
}

.open-card-play-button {
  opacity: 0;
  transition: opacity 200ms;
  position: absolute;
  left: 3px;
  top: 3px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg)
    brightness(105%) contrast(105%);
  height: 24px;
  width: 24px;
}
.open-card-play-button:hover {
}
.open-card-row:hover .open-card-play-button {
  opacity: 1;
}

.image-button {
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg)
    brightness(105%) contrast(105%);
}

.image-button:hover {
  filter: invert(90%) sepia(0%) saturate(1%) hue-rotate(217deg) brightness(97%)
    contrast(96%);
}

.image-button:active {
  filter: invert(93%) sepia(0%) saturate(57%) hue-rotate(251deg) brightness(90%)
    contrast(78%);
}
