body {
    background-color: #282c34;
    overflow: hidden;
}

.node-text {
    alignment-baseline: middle;
    fill: white;
    cursor: pointer;
}

.node-text:hover{
    text-decoration: underline;
}